@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-image{
 max-height: 60px;
 max-width: 60px;   
}

@layer base {
    .list {
      list-style-type: none;
    }
  }
.list-none{
    list-style: none;
}

.hero-img{
  max-width: 100%;
  height: 600px;
  width: 100%;
}

.hero-div{
  max-width: 100%;
  height: 600px;
  width: 100%;
}

.transition-opacity {
  transition: opacity 3s ease-out; /* Adjust the duration and timing function as needed */
}